@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", serif;
  padding: 40px 0 0 0;
}

a {
  text-decoration: none;
}

header {
  background-image: url(images/developer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 30px;
}

.nav-content {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-size: 40px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-btn a {
  color: rgb(71, 71, 71);
  font-size: 20px;
}

.hire-me-btn {
  padding: 15px 32px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.hero-left {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 180px;
}

.hero-greetings {
  font-size: 45px;
  color: rgb(71, 71, 71);
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-name {
  font-size: 85px;
  font-weight: 600;
}

.hero-info-text {
  columns: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  line-height: 30px;
}

.hero-right {
  text-align: right;
  width: 100%;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.profile-img {
  width: 480px;
}

.hero-btn {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.cv-btn {
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  background: rgb(253, 110, 10);
}

.contact-btn {
  font-size: 20px;
  font-weight: 700;
  color: rgb(253, 110, 10);
  background-color: transparent;
  border: 1px solid rgb(253, 110, 10);
  padding: 15px 15px;
  border-radius: 5px;
}

.section-part {
  padding: 3% 0;
  text-align: center;
}

.about-main {
  width: 1140px;
  height: 550px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(255, 248, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info {
  width: 827px;
  height: 288px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.about-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.section-heading {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
}

.about-text {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 30px;
  color: rgb(117, 117, 117);
}

.contact-info-items {
  font-weight: 700;
  color: rgb(117, 117, 117);
}

.what-I-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 75%;
  margin: 0 auto;
}

.skills-heading {
  width: 70%;
  line-height: 6rem;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.skills-card {
  height: 23.4375rem;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  text-align: left;
  gap: 50px;
}

.skills-card h5 {
  font-size: 1.25em;
  font-weight: 700;
}

.skills-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(117, 117, 117);
}

.resume-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 75%;
  gap: 20px;
  margin-top: 70px;
}

.resume-part {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.resume-part h5 {
  font-size: 23px;
  font-weight: 700;
  text-align: left;
}
.resume-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 10px 0;
}

.resume-info h6 {
  font-size: 20px;
  font-weight: 600;
}

.resume-info-sub-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(117, 117, 117);
}

.resume-info-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(117, 117, 117);
  padding-right: 20%;
}

footer {
  /* height: 700px;  */
  background: rgb(255, 248, 243);
  display: flex;
}

.foot-main-part {
  display: flex;
  width: 80%;
  margin: 5% auto ;
  gap: 30px;
}

.foot-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin-left: 50px;
  height: 100%;
}

.foot-heading {
  font-size: 26px;
  font-weight: 600;
}

.foot-part p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(71, 71, 71);
  line-height: 2rem;
  padding-right: 20px;
}

.social-icons i {
  font-size: 1.4em;
  margin-right: 10px;
  color: rgb(253, 110, 10);
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

input {
  width: 461px;
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 461px;
  height: 180px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input::placeholder{
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width:576px) {

  body{
    padding-top: 0;
  }

  .hide{
    display: none;
  }
  
  .what-I-do{
    width: 100%;
  }

  .skills-heading{
    width: 100%;
  }

  .skills{
    flex-direction: column;
  }

  .skills-card h5{
    font-size: 1.5em;
  }

  footer{
    text-align: center;
    justify-content: center;
  }

  .foot-main-part{
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }

  .foot-part{
    margin: 0;
    justify-content: center;
  }

  input{
    width: 80%;
  }

  textarea{
    width: 80%;
  }

  .resume-main{
    flex-direction: column;
  }

  .about-main{
    width: 100%;
  }

  .about-info{
    width: 90%;
    height: 80%;
  }

  .about-contact-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }

  header{
    margin: 0;
  }

  .hero-content{
    flex-direction: column;
    margin: 0;
    background-size: contain;
    gap: 20px;
    padding-top: 20px;
  }

  .hero-left{
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: end;
    align-items: flex-end;
  }

  .hero-info-text{
    margin-left: 20%;
  }

  .hero-right{
    text-align: center;
    background-size: cover;
  }

  .profile-img{
    width: 70%;
    
  }

  nav{
    padding: 10px 0;
  }

  .nav-logo{
    text-align: center;
  }

  .nav-content{
    flex-direction: column;
    gap: 20px;
  }

  .nav-btn{
    justify-content: space-between;
  }

  .hero-greetings{
    font-size: 2rem;
  }

  .hero-name{
    font-size: 4rem;
  }
}